#movie-result {
  background: rgb(255, 227, 224);
  border: 3px solid pink;
  font-size: 24px;
  height: 160px;
  margin-top: 10px;
  margin-bottom: 20px;
}

#food-result {
  background: rgb(191, 241, 245);
  border: 3px solid lightblue;
  font-size: 24px;
  height: 160px;
  margin-top: 10px;
  margin-bottom: 20px;
}

h1{font-family:monospace;}
label{font-family:monospace;
  font-size: 20px;}
hr {
  height: 8px;
  background-color: lightyellow;
}
     img{
        border:5px solid#fddeff;
        border-radius:30px;
      }
  
